* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
  color: #000;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  height: 90px;
  background-color: #1A1F71;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav {
  width: 90%;
  display: flex;
  align-items: center;
}


.logo {
  font-size: 40px;
  font-weight: 400;
  color: #FFFFFF;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  padding: 0;
  margin: 300px;
}

nav ul li a {
  font-size: 40px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

/* ===== HERO ===== */
.hero {
  padding-top: 150px;
  text-align: center;
}

.hero-image {
  position: relative;
  width: 1150px;
  margin: 0 auto;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  border-radius: 40px;
  top: -30px;
  left: 60px;
}

.hero-image img {
  width: 100%;
  border-radius: 40px;
  position: relative;
  z-index: 2;
}

.hero h1 {
  margin-top: 40px;
  font-size: 56px;

}

.hero-btn {
  margin-top: 30px;
  width: 260px;
  height: 56px;
  background-color: #4BB8FF;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  color: #FFFFFF
}

/* ===== ABOUT ===== */
.about {
  padding: 100px 120px;
  text-align: center;
}

.about h2 {
  font-size: 48px;
  margin-bottom: 80px;
}


.advantages {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 70px 60px;
}

.adv {
  text-align: center;
}


.adv h3 {
  font-size: 24px;
  margin-bottom: 16px;
}


.adv img {
  width: 360px;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
}


.adv p {
  margin-top: 14px;
  font-size: 20px;
  line-height: 1.4;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== REGISTER ===== */
.register {
  padding: 120px 0;
  text-align: center;
}

.register h2 {
  font-size: 40px;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 24px;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.register-form {
  width: 520px;
  height: 300px;
  border: 1px solid #1A1F71;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.register-form input {
  width: 440px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #1A1F71;
  padding-left: 12px;
  font-size: 16px;
}

.register-form button {
  width: 209px;
  height: 56px;
  border-radius: 12px;
  background-color: #C9E1F0;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.register-image img {
  width: 400px;
  height: 300px;
  border-radius: 0 px;
}

.join {
  margin-top: 50px;
  font-size: 32px;
}